<h1>
  {{componentName}}
</h1>

<input type="text" [value]="message" [(ngModel)]="message">

<input type="button" value="Get Message" (click)="getMessage(message)">

<br>
<br>

{{message}}

<br>
<br>
<select>
  <option [value]="dept.id"  *ngFor="let dept of departments">
    {{dept.name}}
  </option>
</select>

<table border="1" width="100%" *ngIf="departments && departments.length > 0">
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let dept of departments">
    <td>{{dept.name}}</td>
    <td>
      <input type="button" value="Delte" (click)="deleteRow(dept.id)">
    </td>
  </tr>

</table>


<ol>
  <li></li>
</ol>